body.gameRoomBody {
    height: 100vh;
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
    margin: 0;

}

.gameRoomHeaderDiv {
    position: relative;
    display: grid;
    height: 100px;
    width: 100vw;
    color: White;
    text-align: center;
    margin: 0;
    align-items: center;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
}


.gameRoomHeader {
    margin: 0;
}

.gameRoomMainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 80vh;
    width: 100vw;
    text-align: center;
}

.dealerHeader,
.username {
    font-size: 36px;
    text-shadow: 5px 5px 10px #004a2a;
}

.score {
    font-size: 20px;
    font-weight: 600;
}

.deckImage {
    box-shadow: #1c1c1c 0px 10px 10px, #3f3f3f 0px 15px 10px, #1c1c1c 0px 20px 10px, #3f3f3f 0px 25px 10px, #1c1c1c 0px 30px 10px !important;
    position: absolute;
    top: 35vh;
    left: 45vw;
}

.deckImage:active {
    height: 219px;
}

.card {
    height: 220px;
    width: 150px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}



.dealerCardSlotDiv {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr;
    position: absolute;
    top: 35vh;
    left: 20vh;
    justify-items: start;
}

.dealerCardSlot1,
.dealerCardSlot2 {
    grid-column: 1;
    grid-row: 1;
}

.dealerCardSlot2,
.playerCardSlot2 {
    display: grid;
    justify-items: center;
    transform: translate(-60px, 56px);
}

.dealerCardTwo,
.dealerFaceDownCard {
    grid-column: 1;
    grid-row: 1;
}

.playerCardSlotDiv {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px 1fr;
    position: absolute;
    top: 35vh;
    right: 20vh;
    width: fit-content;
    justify-items: end;
}

.playerCardSlot1,
.playerCardSlot2 {
    grid-column: 1;
    grid-row: 1;
}

.h3 {
    display: grid;
    font-size: 32px;
    background: #00000099;
    height: 80px;
    width: 500px;
    align-items: center;
    color: white;
}

.winnerBanner {
    font-size: 30px;
    font-weight: 600;
}

/* Buttons */
.dealBtn, .hitButton,
.stayButton {
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    top: 55vh;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
}

.hitButton {
    margin-right: 10px;
}

.stayButton {
    margin-left: 10px;
}

.hide {
    display: none !important;
}
