body.indexBody {
    background-image: linear-gradient(to top, #fff1eb 0%, #009688 100%);
    color: white;
    overflow: hidden;
}

.homePageContainer {
    display: grid;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    align-items: start;
    margin-top: 100px;
}

.homePageCenterCard {
    display: grid;
    border-radius: 50px;
    height: 600px;
    width: 800px;
    justify-items: center;
    align-items: end;
    box-shadow: 10px 15px 20px 10px #4dd0c3
}

.homePageHeaderDiv {
    display: grid;
    grid-template-columns: 322px;
    grid-template-rows: 50px;
    justify-items: center;
    align-items: center;
}

.header {
    font-size: 60px;
    grid-column: 1 / 2;
    grid-row: 1;
    position: relative;
    left: 75px;
    filter: drop-shadow(10px 10px 6px #009688);
}

.aceSpadeCenter {
    height: 500px;
    width: auto;
    grid-column: 2;
    grid-row: 1;
    position: relative;
    right: 30px;
    filter: drop-shadow(10px 10px 5px #009688);
     user-select: none;
}

.kingSpadeCenter {
    height: 500px;
    width: auto;
    grid-column: 2 / 3;
    grid-row: 1;
    position: relative;
    right: 15px;
    transform: rotate(7deg);
    filter: drop-shadow(10px 10px 5px #009688);
    user-select: none;
}

.userInfoForm {
    display: none;
    border-radius: 50px;
    height: 400px;
    width: 350px;
    position: absolute;
    bottom: 180px;
    background: #189e91;
    box-shadow: 5px 5px 5px #08635a;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

.activeUserInfoForm {
    display: grid;
    justify-items: center;
    align-items: center;
}

.loginH2 {
    grid-column: 1;
    grid-row: 1 / 2;
    text-shadow: 5px 5px 6px #08635a;
}

.nameDiv,
.usernameDiv {
    display: grid;
    height: 25px;
}

.cardColorsDiv {
    display: block;
    width: 200px;
}

.cardColorsLabel {
    font-size: 16px;
}

.cardColorsSelect {
    background: #10534a;
    border: none;
    border-radius: 5px;
    color: white;
}

label {
    font-size: 12px;
}

.textInput {
    font-size: 14px;
    background: #189E91;
    border: none;
    border-bottom: 1px solid white;
    width: 200px;
    color: white;
    
}

::placeholder {
    color: white;
    opacity: 0.7;
}

.gameRulesCard {
    display: none;
    border-radius: 50px;
    height: 680px;
    width: 430px;
    position: absolute;
    left: 300px; 
    background: #189e91;
    padding-right: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
    align-items: center;
    justify-items: center;
    box-shadow: 5px 5px 5px #08635a;
    letter-spacing: 1px;
    transition: display 0.5s ease-in;
}

.activeRulesCard {
    display: grid;
}

.rulesHeader {
    text-align: center;
}

.rulesUlElement {
    grid-column: 1 / 3;
    grid-row: 2;
}

.errorMessage {
    display: none;
    margin: 0;
    color: rgb(238, 255, 0);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
}

.showErrorMessage {
    display: block !important;
}

/* Buttons */
.homePageBtns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
    bottom: 50px;
    gap: 100px;
}

.gameRulesBtn,
.userLoginBtn {
    height: 32px;
    width: 110px;
    border-radius: 10px;
    border: none;
    color: white;
    background: #189e91;
    box-shadow: 3px 2px 5px white;
    cursor: pointer;
    transition: box-shadow 0.5s;
}

.gameRulesBtn:hover,
.userLoginBtn:hover {
    box-shadow: 3px 2px 5px #4dd0c3;
}

.closeGameRulesBtn {
    display: grid;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    border: none;
    position: relative;
    left: 80px;
    font-size: 20px;
    color: white;
    box-shadow: 2px 2px 5px #010d0b;
    background: #08635a;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in;
}

.closeGameRulesBtn:hover, 
.closeUserInfoFormBtn:hover,
.submitBtn:hover {
    box-shadow: 2px 2px 5px white;
}

.closeUserInfoFormBtn {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    border: none;
    position: relative;
    left: 130px;
    font-size: 20px;
    color: white;
    box-shadow: 2px 2px 5px #010d0b;
    background: #08635a;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in;
    grid-column: 1;
    grid-row: 1 / 2;
}

.submitBtn {
    height: 32px;
    width: 110px;
    border-radius: 10px;
    border: none;
    color: white;
    background: #08635a;
    box-shadow: 2px 2px 5px #010d0b;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in;
}

.randomUsernameBtn {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 20px;
    font-size: 30px;
    display: grid;
    align-content: center;
    cursor: pointer;
    background: none;
    color: white;
    text-shadow: 3px 3px 3px #010d0b;
    position: absolute;
    left: 270px;
}