body.indexBody {
    background-image: linear-gradient(to top, #fff1eb 0%, #009688 100%);
    color: white;
    overflow: hidden;
}

.homePageContainer {
    display: grid;
    justify-items: center;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

.homePageCenterCard {
    display: grid;
    border-radius: 50px;
    height: 600px;
    width: 800px;
    justify-items: center;
    align-items: end;
    box-shadow: 10px 15px 20px 0px #4dd0c3
}

.homePageHeaderDiv {
    display: grid;
    grid-template-columns: 322px;
    grid-template-rows: 50px;
    justify-items: center;
    align-items: center;
}


.header {
    font-size: 60px;
    grid-column: 1 / 2;
    grid-row: 1;
    position: relative;
    left: 75px;
    filter: drop-shadow(10px 10px 6px #009688);
}

.aceSpadeCenter {
    height: 500px;
    width: auto;
    grid-column: 2;
    grid-row: 1;
    position: relative;
    right: 30px;
    filter: drop-shadow(10px 10px 5px #009688);
}

.kingSpadeCenter {
    height: 500px;
    width: auto;
    grid-column: 2 / 3;
    grid-row: 1;
    position: relative;
    right: 15px;
    transform: rotate(7deg);
    filter: drop-shadow(10px 10px 5px #009688);
}

.userInfoForm {
    display: none;
}

.userInfoBtn.active .userInfoForm{
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);

}

.homePageBtns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    position: relative;
    bottom: 50px;
    gap: 100px;
}

.gameRulesBtn, .userInfoBtn {
    height: 32px;
    width: 110px;
    border-radius: 10px;
    border: none;
    color: white;
    background: #189e91;
    box-shadow: 3px 2px 5px white;
    cursor: pointer;
    transition: box-shadow 0.5s;
}

.gameRulesBtn:hover,
.userInfoBtn:hover {
    box-shadow: 3px 2px 5px #4dd0c3;
}

.gameRulesCard {
    display: grid;
    border-radius: 50px;
    height: 680px;
    width: 430px;
    position: absolute;
    bottom: 50px;
    left: 132px;
    background: #189e91;
    padding-right: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;
    align-items: center;
    justify-items: center;
    box-shadow: 5px 5px 5px #08635a;
    letter-spacing: 1px;
}

.rulesHeader {
    text-align: center;
}

.closeGameRulesBtn {
    display: grid;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    border: none;
    position: relative;
    left: 80px;
    font-size: 20px;
    color: white;
    box-shadow: 2px 2px 5px #010d0b;
    background: #08635a;
}

.rulesUlElement {
    grid-column: 1 / 3;
    grid-row: 2;
}
